# Node dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/.next/
/out/
/build

# Vercel deployment
.vercel

# Local environment variables
.env
.env.local
.env.*.local

# OS / Editor specific
.DS_Store

# Debug / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Sensitive keys/certs
*.pem

# Test coverage
/coverage
